.manage-specialty-container{
    padding: 15px 200px;
    .ms-title{
        text-align: center;
        text-transform: uppercase;
        margin: 10px 0;
        font-size: 20px;
        font-weight: 600;
    }
    .add-new-all-specialty{
        .btn-save-specialty{
        
                border: none;
                background-color: orange;
                padding: 8px 5px;
                min-width: 75px;
                border-radius: 3px;
                margin: 15px 0;
            
        }
    }

    .table-specialty{
        padding-bottom: 100px;
    }

}