.verify-container{

    .infor-booking{
        font-size: 32px;
        font-weight: 600;
        margin-top: 150px;
        text-align: center;
        text-transform: uppercase;
        color: red;
    }
}